{% extends 'layouts/base.html' %}

{% block content %}

<h1 class="title">About</h1>
<p class="mb-4">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis incidunt quod ut quasi 
    aperiam modi tenetur voluptate ea quaerat repudiandae magnam deleniti ducimus repellendus, 
    corporis beatae provident corrupti est iure!
</p>
<p>Website created by {{ username }}</p>

{% endblock %}