{% extends 'layouts/base.html' %}

{% block content %}
<h1 class="title">Create New Task</h1>

<form action="">
    {{ form.as_p }}
    <button class="button">
        Save
    </button>
</form>



<input class="input" type="text" placeholder="Text input">

<textarea class="textarea" placeholder="e.g. Hello world"></textarea>
{% endblock %}