{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<h1 class="title">{{ title }}</h1>
<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis incidunt quod ut quasi 
    aperiam modi tenetur voluptate ea quaerat repudiandae magnam deleniti ducimus repellendus, 
    corporis beatae provident corrupti est iure!
</p>

<img src="{% static 'abue_fuma.png' %}" alt="Abue Fuma" width="150">

{% endblock %}