{% extends 'layouts/base.html' %}

{% block content %}
<h1 class="title mb-4">Tasks</h1>

{# note: esta es una tarea #}
<div class="columns is-multiline">
    {% for task in tasks %}
    <div class="column is-4">
        <div class="box">
            <div class="is-size-5"> 
                {% if task.done == False %} &#9202; {% else %} &#x2705; {% endif %} 
                {{ task.title }}
            </div>

            {% if task.done == False %}
            <span class="tag is-danger">Tarea pendiente</span>
            {% else %}
            <span class="tag is-success">Tarea pendiente</span>
            {% endif %}
            
            <div class="is-size-6">{{ task.description }}</div>
            <div class="is-size-6">{{ task.project }}</div>
            <div class="buttons mt-4">
                <button class="button is-danger">Delete</button>
                <button class="button is-success">Done</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}